[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = https://github.com/glfw/glfw
	branch = latest
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vendor/uuid_v4"]
	path = Vendor/uuid_v4
	url = https://github.com/crashoz/uuid_v4
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm
